  # Challenge

  ## Identifying Outliers using Standard Deviation

In [219]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [220]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/transaction_db")

# generate query string
query = """
    select  a.transactionid, a.transactiondate, a.transactionamount, 
            a.creditcardnumber, a.merchantid, b.cardholderid, c.merchantname, d.merchantcategoryname
    FROM cctransaction as a 
    INNER join creditcard as b 
    ON a.creditcardnumber = b.creditcardnumber
    INNER join merchant as c
    ON a.merchantid = c.merchantid
    INNER join merchantcategory as d
    ON c.merchantcategoryid = d.merchantcategoryid
    ORDER BY b.cardholderid, a.creditcardnumber, a.transactiondate, a.transactionamount;
"""

# Read the SQL query into a DataFrame
txn_all = pd.read_sql(query, engine)

# Show the Dataframe
txn_all

,transactionid,transactiondate,transactionamount,creditcardnumber,merchantid,cardholderid,merchantname,merchantcategoryname
0,3490,2018-01-02 16:14:55,3.12,3517111172421930,21,1,Robertson-Smith,pub
1,1436,2018-01-10 13:41:23,11.50,3517111172421930,49,1,"Davis, Lowe and Baxter",food truck
2,1560,2018-01-14 13:30:29,10.94,3517111172421930,19,1,Santos-Fitzgerald,pub
3,2978,2018-01-28 14:38:33,19.93,3517111172421930,71,1,Greene LLC,restaurant
4,1914,2018-01-29 06:32:49,10.24,3517111172421930,49,1,"Davis, Lowe and Baxter",food truck
5,3205,2018-01-30 16:34:45,16.91,3517111172421930,112,1,Greer Inc,bar
6,1545,2018-01-31 09:42:00,10.49,3517111172421930,77,1,"Brown, Ballard and Glass",restaurant
7,1516,2018-02-01 20:44:12,10.24,3517111172421930,51,1,Fisher-Bolton,restaurant
8,1836,2018-02-14 11:14:37,11.38,3517111172421930,18,1,Romero-Jordan,food truck
9,2785,2018-02-19 12:45:15,15.59,3517111172421930,38,1,Brown LLC,bar
10,1324,2018-02-22 01:15:43,12.35,3517111172421930,122,1,Perry and Sons,bar
11,1760,2018-02-25 11:23:34,10.49,3517111172421930,127,1,"Williams, Wright and Wagner",coffee shop
12,2402,2018-02-26 03:56:40,2.38,3517111172421930,81,1,Fowler and Sons,food truck
13,924,2018-02-28 00:50:21,10.21,3517111172421930,56,1,Smith PLC,bar
14,251,2018-03-03 02:05:51,3.49,3517111172421930,88,1,Armstrong PLC,food truck
15,2030,2018-03-09 00:31:16,3.63,3517111172421930,5,1,Miller-Blevins,pub
16,2609,2018-03-09 14:53:23,16.07,3517111172421930,117,1,Mitchell Group,coffee shop
17,575,2018-03-10 23:00:35,0.76,3517111172421930,2,1,Riggs-Adams,restaurant
18,1467,2018-03-11 11:44:49,10.20,3517111172421930,49,1,"Davis, Lowe and Baxter",food truck
19,731,2018-03-13 03:50:55,2.97,3517111172421930,144,1,"Walker, Deleon and Wolf",restaurant
20,1063,2018-03-19 22:28:56,10.31,3517111172421930,56,1,Smith PLC,bar
21,2853,2018-03-22 11:56:50,18.30,3517111172421930,35,1,Jarvis-Turner,pub
22,1810,2018-03-28 23:13:53,10.92,3517111172421930,82,1,Day-Murray,food truck
23,2220,2018-03-30 17:36:58,1.26,3517111172421930,61,1,"Richardson, Smith and Jordan",food truck
24,1072,2018-03-31 00:50:30,11.53,3517111172421930,139,1,Kidd-Lopez,food truck
25,1515,2018-04-10 02:51:58,10.71,3517111172421930,91,1,Turner Ltd,pub
26,3045,2018-04-12 12:53:53,17.39,3517111172421930,129,1,Sweeney-Paul,coffee shop
27,2472,2018-04-21 21:42:14,18.68,3517111172421930,94,1,Yoder-Zavala,food truck
28,1,2018-04-30 18:50:48,5.62,3517111172421930,42,1,Kennedy-Chen,bar
29,67,2018-05-05 17:49:05,8.42,3517111172421930,75,1,Martinez Group,restaurant
...,...,...,...,...,...,...,...,...
3470,1893,2018-06-12 02:08:24,10.15,4319653513507,64,25,"Cline, Myers and Strong",restaurant
3471,2979,2018-06-14 12:17:21,16.29,4319653513507,106,25,Carter-Blackwell,pub
3472,2582,2018-06-22 06:16:50,1813.00,4319653513507,40,25,"Cox, Montgomery and Morgan",bar
3473,3218,2018-06-23 22:36:00,16.61,4319653513507,144,25,"Walker, Deleon and Wolf",restaurant
3474,2271,2018-07-05 00:07:24,2.03,4319653513507,64,25,"Cline, Myers and Strong",restaurant
3475,20,2018-07-05 01:36:32,5.15,4319653513507,27,25,Horn Ltd,coffee shop
3476,2305,2018-07-11 21:03:30,1.67,4319653513507,44,25,Little-Floyd,pub
3477,2425,2018-07-22 01:03:31,1.20,4319653513507,11,25,Stanton Group,pub
3478,1222,2018-08-14 02:20:20,10.19,4319653513507,125,25,Russell and Sons,pub
3479,1877,2018-08-16 10:01:00,1001.00,4319653513507,120,25,"Vega, Jones and Castro",food truck
3480,2255,2018-08-16 17:35:05,3.35,4319653513507,95,25,Baxter-Smith,restaurant
3481,3444,2018-09-04 09:20:30,1.61,4319653513507,30,25,Atkinson Ltd,bar
3482,1135,2018-09-12 05:24:42,11.91,4319653513507,27,25,Horn Ltd,coffee shop
3483,2203,2018-09-17 05:55:03,5.34,4319653513507,41,25,"Ford, Williams and Dunn",pub
3484,2002,2018-09-26 21:48:24,1.66,4319653513507,144,25,"Walker, Deleon and Wolf",restaurant
3485,2970,2018-10-02 19:43:34,17.47,4319653513507,42,25,Kennedy-Chen,bar
3486,2051,2018-10-28 02:12:58,137.00,4319653513507,16,25,"Bryant, Thomas and Collins",pub
3487,1460,2018-10-28 13:28:44,10.00,4319653513507,75,25,Martinez Group,restaurant
3488,1061,2018-11-02 20:08:03,10.55,4319653513507,71,25,Greene LLC,restaurant
3489,1630,2018-11-04 10:52:23,10.00,4319653513507,125,25,Russell and Sons,pub
3490,504,2018-11-11 14:47:11,5.16,4319653513507,126,25,Bartlett and Sons,pub
3491,1182,2018-11-18 19:45:58,11.38,4319653513507,61,25,"Richardson, Smith and Jordan",food truck
3492,914,2018-11-19 05:07:54,10.63,4319653513507,148,25,"Huerta, Keith and Walters",food truck
3493,994,2018-11-25 06:47:54,11.33,4319653513507,65,25,"Allen, Ramos and Carroll",pub
3494,1219,2018-12-03 01:22:15,10.80,4319653513507,150,25,Johnson and Sons,coffee shop
3495,2947,2018-12-06 02:10:30,12.86,4319653513507,80,25,"Kelly, Dyer and Schmitt",food truck
3496,1393,2018-12-07 17:10:58,11.70,4319653513507,44,25,Little-Floyd,pub
3497,1339,2018-12-11 11:42:13,10.58,4319653513507,84,25,Marshall-Rojas,coffee shop
3498,1409,2018-12-12 16:16:21,10.05,4319653513507,40,25,"Cox, Montgomery and Morgan",bar
3499,1863,2018-12-18 13:33:37,1074.00,4319653513507,67,25,"Maxwell, Tapia and Villanueva",coffee shop

In [232]:
# code a function to identify outliers based on standard deviation
def find_outliers_std(df_in, col_name):
    
    # Set upper and lower limit to 3 standard deviation
    data_std = df_in[col_name].std()
    data_mean = df_in[col_name].mean()
    outliers_cut_off = data_std * 3
    
    print(f"Standard Deviation: ", data_std, "Mean: ", data_mean, "Outliers Cutoff: ", outliers_cut_off)
    
    lower_limit = data_mean - outliers_cut_off 
    upper_limit = data_mean + outliers_cut_off
    
    print(f"Lower Limit: ", lower_limit, "Upper Limit: ", upper_limit)
    
    df_out = df_in.loc[(df_in[col_name] < lower_limit) | (df_in[col_name] > upper_limit)]
    
    return df_out

In [233]:
# find anomalous transactions for 3 random card holders

cchidlist = txn_all.cardholderid.unique().tolist()
sample_cardholder = random.sample(cchidlist, 3)

outliers_std = pd.DataFrame()

for cchid in sample_cardholder:
    print(f"Cardholder ID: ", cchid)
    
    txn_data_for_cchid = pd.DataFrame()
    df_out = pd.DataFrame()
    
    txn_data_for_cchid = txn_all[txn_all["cardholderid"] == cchid]
    df_out = find_outliers_std(txn_data_for_cchid, 'transactionamount')
    
    outliers_std = outliers_std.append(df_out)
    
outliers_std

Cardholder ID:  7
Standard Deviation:  314.5514355905102 Mean:  82.22561151079142 Outliers Cutoff:  943.6543067715306
Lower Limit:  -861.4286952607392 Upper Limit:  1025.879918282322
Cardholder ID:  2
Standard Deviation:  5.541201276369607 Mean:  9.59191919191919 Outliers Cutoff:  16.623603829108824
Lower Limit:  -7.031684637189633 Upper Limit:  26.215523021028012
Cardholder ID:  21
Standard Deviation:  5.86251282908528 Mean:  9.523582089552239 Outliers Cutoff:  17.58753848725584
Lower Limit:  -8.063956397703603 Upper Limit:  27.11112057680808

,transactionid,transactiondate,transactionamount,creditcardnumber,merchantid,cardholderid,merchantname,merchantcategoryname
707,2650,2018-01-04 03:05:18,1685.0,3516952396080247,80,7,"Kelly, Dyer and Schmitt",food truck
716,1480,2018-02-19 16:00:43,1072.0,3516952396080247,49,7,"Davis, Lowe and Baxter",food truck
720,1827,2018-04-18 23:23:29,1086.0,3516952396080247,26,7,Smith-Stephens,coffee shop
744,1424,2018-08-07 11:07:32,1449.0,3516952396080247,61,7,"Richardson, Smith and Jordan",food truck
761,2945,2018-12-13 15:51:59,2249.0,3516952396080247,83,7,Solis Group,food truck
764,1318,2018-12-18 17:20:33,1296.0,3516952396080247,87,7,Griffin-Woodard,bar

In [221]:
# code a function to identify outliers based on standard deviation
def find_outliers(data):
    #define a list to accumlate anomalies
    outliers_std = []
    
    # Set upper and lower limit to 3 standard deviation
    data_std = np.std(data)
    data_mean = np.mean(data)
    outliers_cut_off = data_std * 3
    
    #print(f"Standard Deviation: ", data_std, "Mean: ", data_mean, "Outliers Cutoff: ", outliers_cut_off)
    
    lower_limit = data_mean - outliers_cut_off 
    upper_limit = data_mean + outliers_cut_off
    #print(f"Lower Limit: ", lower_limit, "Upper Limit: ", upper_limit)
    
    # Generate outliers
    for outlier in data:
        if outlier > upper_limit or outlier < lower_limit:
            outliers_std.append(outlier)
    return outliers_std

In [222]:
# find anomalous transactions for 3 random card holders
txn_sample = txn_all.sample(n=3)

for index, row in txn_sample.iterrows():
    txn_creditcard = row['creditcardnumber']
    txn_data_for_cc = txn_all[txn_all["creditcardnumber"] == txn_creditcard]
    txn_amount = txn_data_for_cc['transactionamount']

    print(f"Credit Card Number: ", txn_creditcard)
    #print(f"Transaction Amount: ", txn_amount)
    cc_outliers_std = find_outliers(txn_amount)
    
    print(f"Outliers for credit card", txn_creditcard, " : ", cc_outliers_std)

Credit Card Number:  5297187379298983
Outliers for credit card 5297187379298983  :  []
Credit Card Number:  30078299053512
Outliers for credit card 30078299053512  :  [1119.0, 1159.0, 1160.0]
Credit Card Number:  4743204091443101526
Outliers for credit card 4743204091443101526  :  []

  ## Identifying Outliers Using Interquartile Range

In [223]:
# code a function to identify outliers based on interquartile range

def identify_outlier(df_in, col_name): 
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1  #Interquartile range
    
    fence_low  = q1-1.5*iqr
    fence_high = q3+1.5*iqr
      
    df_out = df_in.loc[(df_in[col_name] < fence_low) | (df_in[col_name] > fence_high)]
    
    return df_out

In [224]:
# find anomalous transactions for 3 random card holders

cchidlist = txn_all.cardholderid.unique().tolist()
cchidlist
sample_cardholder = random.sample(cchidlist, 3)
sample_cardholder

outliers = pd.DataFrame()

for cchid in sample_cardholder:
    print(f"Cardholder ID: ", cchid)
    
    txn_data_for_cchid = pd.DataFrame()
    df_out = pd.DataFrame()
    
    txn_data_for_cchid = txn_all[txn_all["cardholderid"] == cchid]
    df_out = identify_outlier(txn_data_for_cchid, 'transactionamount')
    
    outliers = outliers.append(df_out)
    
outliers

Cardholder ID:  16
Cardholder ID:  25
Cardholder ID:  22

,transactionid,transactiondate,transactionamount,creditcardnumber,merchantid,cardholderid,merchantname,merchantcategoryname
2217,2188,2018-01-11 13:20:31,229.0,5570600642865857,115,16,Williams Inc,pub
2218,1442,2018-01-22 08:07:03,1131.0,5570600642865857,144,16,"Walker, Deleon and Wolf",restaurant
2229,2699,2018-02-17 01:27:19,1430.0,5570600642865857,71,16,Greene LLC,restaurant
2234,2451,2018-03-05 08:26:08,1617.0,5570600642865857,4,16,Mccarty-Thomas,bar
2246,1757,2018-05-29 02:55:08,1203.0,5570600642865857,62,16,"Cooper, Carpenter and Jackson",food truck
2251,1191,2018-06-17 15:59:45,1103.0,5570600642865857,23,16,"Wilson, Roberts and Davenport",food truck
2253,606,2018-07-04 17:28:06,89.0,5570600642865857,112,16,Greer Inc,bar
2257,2508,2018-07-26 23:02:51,1803.0,5570600642865857,68,16,Ramirez-Carr,coffee shop
2268,3338,2018-10-19 12:32:37,178.0,5570600642865857,28,16,Hess-Fischer,food truck
2269,466,2018-10-23 22:47:13,393.0,5570600642865857,148,16,"Huerta, Keith and Walters",food truck
2277,2597,2018-11-13 17:07:25,1911.0,5570600642865857,77,16,"Brown, Ballard and Glass",restaurant
2281,1800,2018-12-03 02:38:52,1014.0,5570600642865857,64,16,"Cline, Myers and Strong",restaurant
2285,2520,2018-12-24 15:55:06,1634.0,5570600642865857,7,16,Gomez-Kelly,pub
3443,1415,2018-01-30 18:31:00,1177.0,4319653513507,64,25,"Cline, Myers and Strong",restaurant
3451,2840,2018-03-06 07:18:09,1334.0,4319653513507,87,25,Griffin-Woodard,bar
3455,774,2018-04-01 07:17:21,100.0,4319653513507,111,25,Padilla-Clements,coffee shop
3457,1341,2018-04-08 06:03:50,1063.0,4319653513507,16,25,"Bryant, Thomas and Collins",pub
3459,329,2018-04-09 18:28:25,269.0,4319653513507,36,25,Hamilton-Mcfarland,restaurant
3463,1377,2018-05-13 06:31:20,1046.0,4319653513507,48,25,Baker Inc,food truck
3466,1790,2018-06-04 03:46:15,1162.0,4319653513507,96,25,Johnson-Fuller,pub
3467,224,2018-06-06 21:50:17,749.0,4319653513507,36,25,Hamilton-Mcfarland,restaurant
3472,2582,2018-06-22 06:16:50,1813.0,4319653513507,40,25,"Cox, Montgomery and Morgan",bar
3479,1877,2018-08-16 10:01:00,1001.0,4319653513507,120,25,"Vega, Jones and Castro",food truck
3486,2051,2018-10-28 02:12:58,137.0,4319653513507,16,25,"Bryant, Thomas and Collins",pub
3499,1863,2018-12-18 13:33:37,1074.0,4319653513507,67,25,"Maxwell, Tapia and Villanueva",coffee shop